@import "tailwindcss";

.backgroundGradient {
  background: #090300;
  background: linear-gradient(
    45deg,
    rgb(12, 43, 1) 0%,
    rgba(6, 66, 6, 0.868) 75%,
    rgba(6, 18, 0, 0.879) 100%
  );
}
.gradientRed {
  background: #090300;
  background: linear-gradient(
    140deg,
    rgb(199, 0, 0) 0%,
    rgba(133, 2, 0, 0.823) 75%,
    rgba(70, 0, 0, 0.879) 100%
  );
}
